body{
    background-image: url(https://i.pinimg.com/736x/9b/9c/8d/9b9c8dc00cd3c94938208001c9796b41.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: 20cap;
}
.titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.titulo h1{
    font-family: Broadway;
    font-size: 100px;
    color: brown;
    margin: 0px;
}

.titulo img{
    width: 120px;
    height: auto;
    margin: 0px ;
}

img{
    width: 150px;
    height: 150px;
    border: 0px solid #ccc;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.contenedor{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    gap: 30px; 
    padding: 20px;
    min-height: 20vh;
}


table {
    width: 250px;
    height: 250px;
    background-color: white;
    border: 3px solid #000;
    padding: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-block: 10px;
    box-shadow: 5px 5px 0px #ff00001a;
}

.tr{
    border: 3px solid #000;
    padding-top: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 1.6;
    
}

b{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.tabla-menu {
    border-collapse: collapse;
    text-align: center;
    font-family: 'Castellar';
    font-size: 25px;
    width: 200px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;

}
.tabla-menu td {
    padding: 10px 20px; 
    border: 1px solid #ccc;
}
a{
    text-decoration: none;
    padding: 10px 10px;
}