body {
    background-color: #F5EBE1;
}

h1{
    font-size: 50px;
    color: rgb(85, 1, 1);
    text-align: left;
    font-family: "Algerian";
    margin-bottom: auto;
}

img{
    width: 800px;
    height: 600px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;

}
.contenedor-encabezado {
    display: flex;                  
    justify-content: space-between; 
    align-items: center;            
    padding: 20px;                   
    width: 100%;                    
    box-sizing: border-box;
}
.tabla-menu {
    border-collapse: collapse; 
    text-align: center;
    font-family: 'Castellar';
    font-size: 25px;
}

.tabla-menu td {
    padding: 10px 20px; 
    border: 1px solid #ccc;
}

.contenedor-imagen {
    padding: 20px;
}

.imagen-pizza {
    max-width: 500px; 
    height: auto;
    border-radius: 8px;
}

.boque-texto{
    flex: 1px ;
    padding-top: 10px ;
}

.seccion-principal{
    display: flex;
    align-self: flex-start;
    gap: 30px ;
    padding: 20px ;
    text-align: center;
}
.boque-texto , h3{
    font-family: "Brush Script MT";
    font-size: 50px ;
    color: #5D0D21;
}
.boque-texto , p{
    font-size: 25px;
    font-family: "Ginebra";
}